@using MyTaskTracker.ViewModels
@model AddTaskViewModel

@{
    ViewData["Title"] = "Add Task";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Создайте новую задачу!</h4>
        </p>

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Ошибка!</b> - @TempData["Error"] </span>
            </div>
        }

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="AddTask">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control"/>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Difficulty" class="control-label"></label>
                        <input asp-for="Difficulty" class="form-control"/>
                        <span asp-validation-for="Difficulty" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TimeEstimation" class="control-label"></label>
                        <input asp-for="TimeEstimation" class="form-control"/>
                        <span asp-validation-for="TimeEstimation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="userEmail" class="control-label"></label>
                        <input asp-for="userEmail" class="form-control"/>
                        <span asp-validation-for="userEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OrganizationId" class="control-label"></label>
                        <input asp-for="OrganizationId" class="form-control"/>
                        <span asp-validation-for="OrganizationId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-outline-success float-right" type="submit" value="Создать"/>
                        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Отмена</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>