@model MyTaskTracker.ViewModels.TaskViewModel

@{
    bool isAuthenticated = User.Identity?.IsAuthenticated == true;
    

}

<!DOCTYPE html>

<html>
<head>
    <title>Задача создана!</title>
</head>
<body>
<div>

</div>
</body>
</html>