@using MyTaskTracker.ViewModels
@{
    ViewData["Title"] = "Home Page";
}

<section class="bg-dark space-lg" data-jarallax data-speed="0.2"style="height: 750px;">
    <img alt="Image" src="/img/Data_Management.jpg" class="bg-image position-absolute opacity-20" />
    <div class="container bg-dark">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-md-6 col-lg-5 section-intro">
                <h1 class="display-3">Управляй задачами и проектами</h1>
                <span class="lead">
                    Эффективное управление задачами и проектами: просто, удобно, результативно. Присоединяйтесь прямо сейчас!
                </span>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<!--end of section-->